<launch>
  <!-- Bringup robot driver and sensor drivers-->
  <include file="$(find cirkit_unit03_bringup)/launch/cirkit_unit03_bringup.launch"/>

  <!-- For sample test -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find cirkit_unit03_maps)/map/playpen_map.yaml" />

  <include file="$(find cirkit_unit03_move_base)/launch/move_base.launch"/>

  <include file="$(find cirkit_unit03_amcl)/launch/amcl_diff.launch" />

  <include file="$(find cirkit_unit03_control)/launch/laserscan_merger.launch" />

  <include file="$(find cirkit_unit03_control)/launch/urg_laser_filter.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cirkit_unit03_viz)/rviz/robot/autorun3.rviz" required="true" />

</launch>
